<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome th the jungle</title>
    <style>
        .fig {
            display: block; /* Блочный элемент (для старых браузеров) */
            text-align: center; /* Выравнивание по центру */
            font-style: italic; /* Курсивное начертание */
            margin-top: 0; /* Отступ сверху */
            margin-bottom: 5px; /* Отступ снизу */
            color: #666; /* Цвет подрисуночной подписи */
        }
    </style>
</head>
<body>
<div class="container" style="text-align: center;">
    Welcome to the Jungle
    <div>
        <figure class="fig">
            <img src="images/coon.jpg" alt="Wosawaka">
            <figcaption>
                Всё просто не смотря на то, что просто просто
                Особенно если значешь что знаешь,
                И желаешь узать то, что не знаешь
            </figcaption>
        </figure>
    </div>
</div>
</body>
</html>